.body::-webkit-scrollbar {
  display: none;
}


.body{
    padding: 16px;
    margin: 0px ;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: calc(100vw-220px);
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    align-content: flex-start;
    column-gap: 30px;
    overflow: scroll;
}